<form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <div *ngIf="email?.errors">Email is required.</div>
      <div *ngIf="email?.errors">Invalid email format.</div>
    </div>
  
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
      <div *ngIf="password?.errors">Password is required.</div>
      <div *ngIf="password?.errors">Password must be at least 6 characters long.</div>
    </div>
  
  
    <button type="submit">Register</button>
  </form>
